.containerAllPets {
  display: flex;
  flex-direction: column;
  /* padding: 50px 0; */
  /* height: 100%; */
  /* min-width: 100%; */
}



.container2 {
  display: flex;
  min-width: 100vw;
}

.big_container {
  margin: auto;
  display: flex;
  align-content: space-around;
  font-family: "Segoe UI";
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;

}

.searchB {
  margin-top: 3em;
  margin-bottom: 1.5em;
  border: 1px solid rgb(129, 126, 94);
  border-radius: 0px 15px 15px 0px;
  padding: 8px 22px;
  border-left: none;
  background-color: transparent;
  width: auto;
}

.searchB:hover {
  background-color: #e8eb9d;
  border: 1px solid transparent;
  padding: 8px 22px;
  color: rgb(27, 27, 27);
}

.input {
  margin-top: 3em;
  margin-bottom: 1.5em;
  width: 100%;
  background-color: #e8eb9d;
  padding: 12px 24px;
  transition: transform 250ms ease-in-out;
  line-height: 10px;
  border-radius: 15px 0px 0px 15px;
  border: none;
  border-right: none;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  color: #111111;
  display: block;
  flex-direction: row;
}

.input::placeholder {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #111111;
  font-size: 12px;
}

.input:hover,
.input:focus {
  padding: 12px 24px;
  outline: 0;
  border: none;
  border-radius: 15px 0px 0px 15px;
  background-position: 100% center;
  background-color: #8c7d5d;
}

.all {
  background: #e8eb9d;
  font-size: 19px;
  color: #32281f;
  border: 1em;
  border-radius: 15px;
  height: 45px;
  width: 160px;
  font-weight: 700;
  margin-left: 50px;
}

.all:hover {
  color: beige;
  border: none;
  font-weight: 700;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgb(185, 163, 103);
  background: #584a3c;
}
.all2 {
  background: #e8eb9d;
  font-size: 18px;
  color: #32281f;
  border: 1em;
  border-radius: 15px;
  height: 45px;
  width: 160px;
  font-weight: 700;
  margin-left: 50px;
  margin-bottom: 2em;
  margin-top: 1em;
}

.all2:hover {
  color: beige;
  border: none;
  font-weight: 700;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgb(185, 163, 103);
  background: #584a3c;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 400px;
  margin: 30px;
  padding-bottom: 30px;
  background: #e8eb9d;
  border-radius: 30px;
}

.name {
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
  color: #32281f;
  font-size: 35px;
  text-shadow: 2px 2px 4px #937a60;
}

.size {
  font-size: 20px;
}

.img {
  width: 20em;
  height: 180px;
  object-fit: cover;
  border-radius: 30px 30px 0px 0px;
}

.btn {
  background: #38593a;
  font-size: 21px;
  color: white;
  border: 1em;
  border-radius: 15px;
  height: 45px;
  width: 150px;
  z-index: 600;
  font-weight: 700;
}

.btn:hover {
  color: beige;
  border: none;
  font-weight: 700;
  transform: scale(1.05);
  box-shadow: 0 0 10px #333;
  background: #483c30;
}

.title {
  font-size: 20px;
}

.form {
  /* position: fixed; */

  padding-top: 8.5rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin-top: 5rem;
}

.select {
  height: 2rem;
  background-color: #4c8053;
  padding: 8px;
  width: 10em;
  /* margin-bottom: 1em; */
  border-radius: 9px;
  margin-left: 3em;
  font-weight: 500;
  font-size: 17px;
}

.option {
  background-color: #e8eb9d;
  font-family: Verdana;
}

.huge_container {
  display: flex;
}

.logo {
  border-radius: 1em;
  display: flex;
  position: fixed;
  left: 40px;
  top: -47px;
  z-index: 4501;
  width: auto;
  height: 14em;
}

.paging {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: white;
  margin-left: 14rem;

}

.paginate {
  background-color: #e8eb9d;
  margin: 1rem;
  width: 5%;
  border-radius: 15%;
}
.paginate:hover {
  background-color: #4c8053;
}

.edit {
  display: flex;
  flex-direction: column;
}

.caja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.box {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
@media(max-width:730px){
  .box{
    
    padding-top: 10.5rem;
    /* width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 0.5rem; */
    /* margin-top: 5rem; */
  }
}

.btns {
  display: flex;
  position: absolute;
  padding-left: 50rem;
  margin-bottom: 10rem;
}
