.divHidden {
  width: 10rem;
  height: 0;
  overflow-x: hidden;
  transition: all 0.5s;
  list-style: none;
  font-size: 20px;
  text-decoration: none;
  opacity: 0.6;
  transition: all 1s;
  margin-top: 20px;
  gap: 10px;
  font-weight: 660;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.width {
  height: 18rem;
}
