.form {
  gap: 0.1rem;
  display: flex;
  place-content: center;
  flex-direction: column;
  color: #fff;
  background: rgba(54, 65, 50, 0.233);
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  backdrop-filter: blur(10px);
  max-width: 80%;
  min-width: 50%;
  padding: 20px 30px;
  margin: 80px 80px;
  justify-content: flex-start;
}

.imgForm {
  width: 100%;
  height: auto;
}
.containFirstDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 150px 10px;
  height: 100%;
  width: 50%;
}
.spanObligatorio {
  padding: 10px 20px;
  color: #fff;
  background-color: #544d;
  border-radius: 20px;
}
.divTips {
  margin: 20px;
  padding: 20px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.7px;
  background: rgba(54, 65, 50, 0.596);
  border-radius: 20px;
  border: 1px solid #fff8;
  backdrop-filter: blur(10px);
}

.tips {
  margin-bottom: 30px;
}
.container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background-image: url("../../img/pngFormPostPet.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 3rem;
  font-size: 20px;
  padding: 10px 0px;
  padding-top: 60px;
}

.post {
  border-radius: 10px;
  width: 11em;
  margin: auto;
  height: 2em;
}

.logo {
  border-radius: 1em;
  display: flex;
  position: fixed;
  margin-top: -50px;
  margin-left: 2em;
  z-index: 4500;
  width: auto;
  height: 14em;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}
