.form {
  border-style: solid;
  border-color: black;
  gap: 0.1rem;
  display: grid;
  place-content: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #e8eb9d;
  min-width: auto;
  min-height: auto;
  padding: 1rem;
  margin-top: 5rem;
}

.container {
  display: grid;
  place-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #415d43;
}

.stretch {
  display: grid;
  place-content: center;
  justify-content: stretch;
  font-size: medium;
}

.radio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.title {
  text-align: center;
  font-size: larger;
}

.errors {
  color: red;
  font-size: smaller;
  font-style: inherit;
}

.input {
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
  min-height: 1.5rem;
}
