.form {
  box-shadow: 10px 10px 50px rgb(136, 92, 57);
  gap: 0.1rem;
  display: flex;
  place-content: center;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #f2f4c0;
  max-width: 80%;
  padding: 20px 30px;
  margin: auto;
  border-left: 1px solid #e8eb9d;
  border-top: 1px solid #e8eb9d;
  backdrop-filter: blur(20px);
  justify-content: flex-start;
}

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: rgb(188, 178, 117);
  padding-bottom: 3rem;
  font-size: 20px;
  padding: 120px 0px;
}

.post {
  border-radius: 10px;
  width: 11em;
  margin: auto;
  height: 2em;
}

.logo {
  border-radius: 1em;
  display: flex;
  position: fixed;
  margin-top: -50px;
  margin-left: 2em;
  z-index: 4500;
  width: auto;
  height: 14em;
}
