.big_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
  height: 350px;
  width: 250px;
  margin: 20px auto;
}
@media (max-width: 950px) {
  .big_container {
    width: 150px;
    height: 200px;
  }
}

.containImg {
  display: flex;
  height: 50%;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.image {
  width: 100%;
  height: 100%;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
}
@media (max-width: 950px) {
}

.containInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 100%;
}
.name {
  font-size: 25px;
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-weight: 700;
  color: #32281f;
  text-shadow: 2px 2px 4px #937a60;
}
@media (max-width: 950px) {
  .name {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .name {
    font-size: 17px;
    margin-top: 15px;
  }
}

@media (max-width: 515px) {
  .name {
    font-size: 13px;
    margin-top: 15px;
  }
}
.gender {
  font-size: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
}
@media (max-width: 950px) {
  .gender {
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .gender {
    font-size: 15px;
  }
}

@media (max-width: 515px) {
  .gender {
    font-size: 12px;
  }
}

.btn {
  background: #38593a;
  font-size: 21px;
  color: white;
  border: 1em;
  border-radius: 15px;
  height: 45px;
  width: 150px;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media (max-width: 950px) {
  .btn {
    font-size: 17px;
    height: 37px;
    width: 140px;
  }
}

@media (max-width: 650px) {
  .btn {
    font-size: 14px;
    height: 30px;
    width: 110px;
  }
}

@media (max-width: 515px) {
  .btn {
    font-size: 13px;
    height: 27px;
    width: 90px;
  }
}

.btn:hover {
  color: beige;
  border: none;
  font-weight: 700;
  transform: scale(1.05);
  box-shadow: 0 0 10px #333;
  background: #483c30;
}
