.name{
    color: black;
    font-size: 28px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.image{
    display: flex;
    justify-content: center;
    justify-items: center;
}


.gender{
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.container{
    background-color: rgb(184, 209, 115);
    height: 300px;
   padding-top: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   


}