.container {
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 350px;
  border-radius: 30px;
  margin: 40px auto;
  text-align: center;
  background-color: #e8eb9d;
  display: flex;
}

.containImg {
  width: 300px;
  height: 70%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.image {
  height: 100%;
  width: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  object-fit: fill;
}

.containInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 100%;
}
.name {
  font-size: 25px;
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-weight: 700;
  color: #32281f;
  text-shadow: 2px 2px 4px #937a60;
}
.gender {
  font-size: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
}
