.linea {
  color: rgb(105, 104, 104);
  height: 20px;
  width: 100%;
  margin-top: 10%;
}

.img {
  width: 100%;
  height: 250px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  width: 300px;
  height: 400px;
  align-items: center;
  background-color: white;
}

.name {
  font-size: 25px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #32281f;
  text-shadow: 2px 2px 4px #937a60;
  margin-bottom: 5px;
}
.price {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
