.big_container {
  width: 15rem;
  height: 25rem;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  margin: 1rem;
}
/* ////////////////////////////////////////////////////////////// 950*/
@media(max-width:950px){
  .big_container{
    width: 12rem;
  height: 20rem;
  }
}
/* @media(max-width:910px){
  .aboutUs{
   font-size: 38px;
  }
} */

@media(max-width:830px){
  .big_container{
    width: 12rem;
    height: 20rem;
    margin:10px;
  }
}
@media(max-width:700px){
  .big_container{
    width: 10rem;
    height: 20rem;
    margin:12px;
  }
}
@media(max-width:650px){
  .big_container{
    width: 8rem;
    height: 17rem;
    margin:12px;
  }
}

@media(max-width:515px){
  .big_container{
    width: 6rem;
    height: 15rem;
    margin:2px;
  }
}

.containImg {
  display: flex;
  height: 50%;
  border-top-right-radius: 2.5;
  border-top-left-radius: 2.5;
}


.image {
  width: 20em;
  height: 180px;

  border-top-right-radius: 2.5rem;
  border-top-left-radius: 2.5rem;
  object-fit: fill;
  /* height: auto; */
}
@media(max-width:950px){
  .image{
  height: 160px;
  width: 15em;
  }
}
@media(max-width:650px){
  .image{
    width: 12em;
    height: 145px;
  }
}

@media(max-width:515px){
  .image{
    width: 10em;
    height: 135px;
  }
}

.containInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 100%;
}
.name {
  font-size: 25px;
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-weight: 700;
  color: #32281f;
  text-shadow: 2px 2px 4px #937a60;
}
@media(max-width:950px){
  .name{
  font-size: 20px;
  }
}
.gender {
  font-size: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
}
@media(max-width:950px){
  .gender{
  font-size: 18px;
  }
}

.btn {
  background: #38593a;
  font-size: 21px;
  color: white;
  border: 1em;
  border-radius: 15px;
  height: 45px;
  width: 150px;
  z-index: 600;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media(max-width:950px){
  .btn{
  font-size: 17px;
  height: 37px;
  width: 140px;
  }
}
.btn:hover {
  color: beige;
  border: none;
  font-weight: 700;
  transform: scale(1.05);
  box-shadow: 0 0 10px #333;
  background: #483c30;
}
