.navBar {
  display: flex;
  float: right;
  background-color: rgb(97, 118, 75);
  height: 7ch;
  width: 100%;
  margin-left: 90%;
}
.textNav{
  display: flex;
  justify-content: right;
  align-items: right;
  padding-left: 50%;
  font-size: 3ch;
}

.sobreNosotros {
  background-color: rgb(97, 118, 75);
  top: 40%;
  position: absolute;
  height: 18ch;
  width: 100%;
  
}

.textoNosotros {
  font-size: 3ch;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}

.searchBar {
  top: 60%;
  margin-left: 35%;
}

.buttonSearch {
  background-color: white;
  height: 5ch;
  width: 10ch;
  border-radius: 5px;
  border: none;
}
.inputSearch {
  color: rgb(1, 1, 12);
  border: none;
  height: 5ch;
  width: 40ch;
  border-radius: 5px;
}

/* .navbar {
  margin-top: 0%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 20px;
 background-color:  rgb(14, 94, 111);
 border-bottom: 1px solid #e0e0e0; 
} */

.home {
  background-color: rgb(229, 217, 182);
  background-size: cover;
  /* display: flex; */
  justify-content: center;
  background-repeat: no-repeat;
  align-items: center;
  height: 100vh;
}
