.containLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.mainLayout {
  width: 100%;
  display: flex;
  justify-content: center;
}
