/* .image{
    height: 85px;
  width: auto;
  border-radius: 30px;
}
.imgcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
  
} */