.container {
  display: flex;
  flex-direction: column;
  background-color: #38593a;
  height: 15em;
  width: 100%;
  margin-bottom: 4em;
  font-size: 2em;
  color: antiquewhite;
  text-align: center;
  z-index: 600;
}
.containJoin {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.join {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 900;
  font-size: 45px;
  width: 14em;
}

.joinBtn {
  background: #e8eb9d;
  font-size: 23px;
  color: #32281f;
  border: 1em;
  border-radius: 15px;
  height: 45px;
  width: 150px;
  margin-top: 2em;
  margin-bottom: 85px;
  margin-left: 67%;
  z-index: 600;
  font-weight: 700;
}

.joinBtn:hover {
  color: beige;
  border: none;
  font-weight: 700;
  transform: scale(1.05);
  box-shadow: 0 0 10px #333;
  background: #584a3c;
}

.gif {
  margin-left: 15em;
  margin-top: -47em;
  width: 250px;
  height: 450px;
}

.cat {
  width: 10em;
  height: 10em;
  margin-top: -650px;

  /* transform: rotate(4deg); */
}
