.container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #38593a;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 100%;
  color: antiquewhite;
  text-align: center;
  z-index: 600;
}
.containGeneral {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 40px;
  margin-bottom: 40px;
}
.containJoin {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.joinBtn {
  background: #e8eb9d;
  color: #32281f;
  border-radius: 15px;
  padding: 10px;
  z-index: 600;
  font-weight: 700;
  margin: 2rem auto;
}

.join {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  text-align: center;
  font-weight: 900;
  font-size: 45px;
  width: 14em;
}

.joinBtn:hover {
  color: beige;
  border: none;
  font-weight: 700;
  transform: scale(1.05);
  box-shadow: 0 0 10px #333;
  background: #584a3c;
}
.divGif {
  display: flex;
  height: 400px;
  margin-top: 40px;
}
.gif {
  height: 100%;
  width: auto;
}
.cat {
  display: flex;
  position: absolute;
  top: -290px;
  left: 50px;
  width: auto;
  height: 500px;
}

.icon {
  margin: auto;
  font-size: 50px;
}
.containInsta {
  margin-bottom: 40px;
  font-size: 24px;
}
.containerTwo {
  padding: 40px;
  width: 100%;
}
@media (max-width: 1366px) {
  .containerTwo {
    padding: 10px;
  }
  .containGeneral {
    padding: 0;
  }
  .cat {
    top: -235px;
    left: 0px !important;
    height: 400px;
  }
  .divGif {
    height: 300px;
    margin-left: 30px;
  }
  .containJoin {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .join {
    width: 400px;
    height: auto;
    margin: 0;
    margin-bottom: 20px;
    font-size: 22px;
  }
  .joinBtn {
    margin: 0;
    font-size: 16px;
  }
  .containInsta {
    font-size: 24px;
  }
  .icon {
    font-size: 30px;
  }
}
@media (max-width: 900px) {
  .containerTwo {
    padding: 10px;
  }
  .containGeneral {
    padding: 0;
  }
  .cat {
    top: -175px;
    left: 0px !important;
    height: 300px;
  }
  .divGif {
    height: 250px;
    margin-left: 30px;
  }
  .containJoin {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .join {
    width: 400px;
    height: auto;
    margin: 0;
    margin-bottom: 20px;
    font-size: 26px;
  }
  .joinBtn {
    margin: 0;
    font-size: 16px;
  }
  .containInsta {
    font-size: 18px;
  }
  .icon {
    font-size: 30px;
  }
}

@media (max-width: 650px) {
  .containerTwo {
    padding: 10px;
  }
  .containGeneral {
    padding: 0;
  }
  .cat {
    top: -115px;
    left: 0px;
    height: 200px;
  }
  .divGif {
    height: 150px;
    margin-left: 30px;
  }
  .containJoin {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .join {
    width: 200px;
    height: auto;
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .joinBtn {
    margin: 0;
    font-size: 12px;
  }
  .containInsta {
    font-size: 18x;
  }
  .icon {
    font-size: 30px;
  }
}
