.dashBoardContain {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2500;
  justify-content: flex-start;
  top: 0px;
  right: -600px;
  height: 100vh;
  background-color: aliceblue;
  padding: 30px;
  padding-top: 70px;
  padding-right: 100px;
  text-align: left;
  transition: all 0.6s;
}

.itemDash {
  text-decoration: none;
  margin: 15px 10px;
  padding: 1px;
  padding-bottom: 2px;
  border-bottom: 2px solid #f26538;
}
.itemDash:hover {
  font-weight: bold;
}
.view {
  right: 0;
}
