.dashBoardContain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  z-index: 4500;
  top: 0px;
  right: -800px;
  height: 100%;
  background-color: #38593a;
  padding: 75px;
  padding-top: 100px;
  transition: all 0.5s;
  text-align: left;
  font-size: 18px;
  box-shadow: -1px 0px 10px #223123;
  font-weight: bold;
}
@media (max-width: 550px) {
  .dashBoardContain {
    padding: 60px;
    padding-top: 90px;
  }
  .itemDash {
    font-size: 16px;
  }
}

.btnPerfilSlide {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 24px;
  color: #fff;
  background-color: #22312348;
  border: 1px solid #2f473148;
  border-radius: 5px;
}
.btnPerfilSlide:hover {
  cursor: pointer;
}
.itemDash {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 20px 0;
  padding: 1px;
  padding-bottom: 2px;
  color: #ccc;
}
.iconSideNav {
  margin-right: 10px;
}
.itemLogOut {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 45px;
}
.itemDash:hover {
  color: #fff;
  cursor: pointer;
}
.view {
  right: 0;
}
