.nav {
  display: flex;
  position: fixed;
  z-index: 4000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  justify-content: flex-end;
  align-items: center;
  background-color: #38593a;
  box-shadow: 0 1px 10px #223123;
}
.headerNav {
  width: auto;
  display: flex;
}
.navMenuList {
  z-index: 4300;
  box-sizing: border-box;
  display: flex;
  justify-content: right;
  color: white;
}

.itemNav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeee;
  text-decoration: none;
  font-size: 20px;
  margin: 0 5px;
}

.itemNav:hover {
  color: #fff;
}

.btnPerfil {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
  z-index: 4800;
  color: white;
  font-size: 24px;
}
.btnPerfil:hover {
  color: #fff;
  cursor: pointer;
}

.login {
  background: #38593a;
  width: 20em;
  font-size: 20px;
  display: flex;
  position: absolute;
}

.logoNav {
  border-radius: 1em;
  display: flex;
  position: fixed;
  top: -50px;
  left: 30px;
  z-index: 8500;
  width: auto;
  height: 14em;
}
@media (max-width: 550px) {
  .itemNav {
    font-size: 14px;
  }
  .logoNav {
    top: -13px;
    left: 10px;
    height: 80px;
    border-radius: 10px;
  }
}
