.headerNav {
  display: flex;
  width: 100%;
}

.nav {
  display: flex;
  position: fixed;
  z-index: 4000;
  top: 0;
  left: 0;
  /* width: 100%; */
  width: 100%;
  padding: 16px;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #38593a;
}
@media (max-width: 730px) {
  .nav {
    display: flex;
    flex-direction: column;
    z-index: 3000;
    justify-content: flex-start;
    top: 0px;
    right: -600px;
    height: auto;
  }
}
.headerNav{
  width:auto;
  display: flex;
}
.navMenuList {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: right;
  column-gap: 24px;
  color: white;
}
@media(max-width:730px){
  .navMenuList{
  display: flex;
  flex-direction: column;
  }
}

.itemNav {
  display: flex;
  color: #eeee;
  text-decoration: none;
  font-size: 20px;
}
@media (max-width: 350px) {
  .itemNav {
    font-size: 17px;
    flex-direction: column;
    display: block;
  }
}

.itemNav:hover {
  color: #fff;
}

.btnPerfil {
  color: white;
  font-size: 20px;
}
.btnPerfil:hover {
  color: #fff;
  cursor: pointer;
}

.login {
  background: #38593a;
  width: 20em;
  font-size: 20px;
  display: flex;
  position: absolute;
}

.logo {
  border-radius: 1em;
  display: flex;
  position: fixed;
  top: -50px;
  left: 30px;
  z-index: 4500;
  width: auto;
  height: 14em;
}
@media (max-width: 350px) {
  .logo {
    height: 10em;
    left: 5px;
  }
}
