.nav {
  display:flex;
  position:absolute;
  z-index: 4000;
  top: 0;
  width: 100%;
  padding: 16px;
  z-index: 1;
  justify-content: space-between;
  align-items:flex-end;
  background-color: #38593a;
}
.navMenuList {
  box-sizing: border-box;
  display:flex;
  flex-direction: row;
  margin-left: 71em;
  column-gap: 24px;
  color: white;
}

.itemNav {
  display: flex;
  color: #eeee;
  text-decoration: none;
  font-size: 20px;

}
.itemNav:hover {
  color: #fff;
}

.btnPerfil {
  color: #eeee;
  font-size: 20px;
}
.btnPerfil:hover {
  color: #fff;
  cursor: pointer;
}


