.card {
  display: flex;
  justify-content: flex-start;
  border-bottom: 3px solid #aaa;
  width: 100%;
  margin: 20px;
  padding: 40px 20px;
}
.linkImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
}

.img {
  border-radius: 30px;
}

.divInfoProduct {
  width: 100%;
}
.name {
  font-weight: 700;
  margin-left: 60px;
  margin-top: 20px;
  color: #333;
  font-size: 30px;
}
.divPriceAddCart {
  display: flex;
  width: 100%;
  margin-top: 40px;
  margin-left: 60px;
}
.price {
  margin-top: 50px;
  font-size: 28px;
}

.formCantCart {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  margin-bottom: 60px;
}
.selectCant {
  width: 25%;
  margin: 20px;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 5px 8px;
}
.spanButtonAdd {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.icon {
  font-size: 28px;
  color: #333;
}
.modifiedCant {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100px; */
  padding: 5px;
  border-radius: 10px;
}

.amount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #bbb;
  border-radius: 10px;
  margin: 0 15px;
}

.detail {
  padding: 5px;
  color: rgb(83, 83, 83);
  border: 3px solid rgb(83, 83, 83);
  width: 9rem;
  text-align: center;
  border-radius: 0.3rem;
  margin-left: 12rem;
  transition: 250ms;
  font-weight: bold;
}

.detail:hover {
  box-shadow: 3px 3px 0px 0px rgb(48, 48, 48);
}
