.card {
  display: flex;
  justify-content: flex-start;
  position: relative;
  border-bottom: 3px solid #aaa;
  width: 100%;
  margin: 10px;
  padding: 20px 20px;
}
.containImgName {
  width: 200px;
}
.img {
  height: 100px;
  width: auto;
  border-radius: 30px;
  object-fit: cover;
}

.name {
  width: 100%;
  margin-left: 60px;
  margin: 13px 0;
  color: #333;
  font-size: 24px;
}
.price {
  margin-top: 50px;
  font-size: 16px;
}

.subtotal {
  font-weight: bold;
}
.containCantSubt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 50%;
  height: 100%;
}
.formCantCart {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.spanButtonAdd {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.icon {
  font-size: 28px;
  color: #333;
}
.modifiedCant {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100px; */
  padding: 5px;
  border-radius: 10px;
}

.amount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #bbb;
  border-radius: 10px;
  margin: 0 15px;
}

.btn {
  display: flex;
  position: absolute;
  top: 40px;
  right: 40px;
  color: #e35;
  font-size: 30px;
}
