
.container{
 
  
  width: 100%;
  height:90%;
  
}
.containerImg{
  background: linear-gradient(to right, white, #415D43);
  
  background-size:cover;
  width: 100%;
  height: 100%;
  position:absolute;
}
.img1{
  
  background-image: url(https://i.postimg.cc/bwNgMGzm/pata-top.png);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 100%;
  position:absolute;
  
  
  
}
.img2{
  background-image: url(https://i.postimg.cc/mrKSt87n/imgPerro.png);
  background-repeat: no-repeat;
  background-size: cover ;
  width: 100%;
  height: 100%;
  position:absolute;
}
.img3{
  background-image: url(https://i.postimg.cc/GhRqF76w/cambia-Una-Vida.png);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 100%;
  position:absolute;
  animation-name :onelife-animation;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-timing-function:ease-in;
  animation-iteration-count: 3s;

}
.img4{
  background-image: url(https://i.postimg.cc/15KMJ0Zg/Adopta.png);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 100%;
  position:absolute;
  animation-name :adopt-animation;
  animation-duration: 1.5s;
  animation-delay: 0.1s;
  animation-timing-function:ease-in;
  animation-iteration-count: 3s;

}
.img5{
  background-image: url(https://i.postimg.cc/L4LxZKC3/litePaw.png);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 100%;
  position:absolute;

}
.img6{
  background-image: url(https://i.postimg.cc/rpqcHdbj/logo.png);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 100%;
  position:absolute;

}
.img7{
  background-image: url(https://i.postimg.cc/s2McjtGS/pata-bot.png);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 100%;
  position:absolute;

}
.img8{
  width: 100px;
  height: 200px;
  border-radius: 30px;
  position:absolute;
  left: 100px;

}





/* CSS */
.button {
  
  background: #E8EB9D;
    font-size: 23px;
    color: #32281F;
    border: 1em;
    border-radius: 15px;
    height: 45px;
    width: 150px;
  /* box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px; */
  cursor: pointer;
  display: inline-block; 
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 23px;
  position: relative;
  top: 480px;
  left: 300px;
  

}

.button:hover {
  /* box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px; */
transform: scale(1.05);/* rotate(-1deg);*/
background:#32281F ;
font-size: 23px;
color: #E8EB9D;

}

@media screen and (max-width: 2200px){
  .button{
    position: relative;
  top: 430px;
  left: 280px;
  }
}
@media screen and (max-width: 1700px){
  .button{
    position: relative;
  top: 450px;
  left: 290px;
  }
}
@media screen and (max-width: 750px){
  .img2{
    background-image: none;
    

  }
  .button{
    position: relative;
  top: 400px;
  left: 210px;
  }
  
                        
      
    }@media screen and (max-width:500px){
    .button{
      position: relative;
  top:200px;
  left:110px;
    }
    .img7{
    background-size:contain;
  width:500px;
  height:300px;
  
  } .img1{
 background-size:contain;
  width: 500px;
  height: 300px;
   } 
      .img3{
        background-size:contain;
        width: 500px;
        height: 300px;
          } 
          .img4{
            background-size:contain;
                width: 500px;
                height: 300px
             
              } 
              .img5{
                background-size:contain;
                width: 500px;
                 height: 300px;
                  } 
                  .img6{
                    background-size:contain;
                    width: 500px;
                      height: 300px;
                      }
  


}

@keyframes adopt-animation{
  0%{ opacity: 0;}
  25%{ opacity: 0.2;}
  50%{ opacity: 0.5;}
  75%{ opacity: 0.8;}
  100%{opacity: 1;}
     
  }
  @keyframes onelife-animation{
    0%{ opacity: 0;}
    25%{ opacity: 0.2;}
    50%{ opacity: 0.5;}
    75%{ opacity: 0.8;}
    100%{opacity: 1;}
       
    }
  



