.container {
  width: 100%;
  height: 100%;
}
.containerImg {
  background: linear-gradient(to right, white, #415d43);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
.img1 {
  background-image: url(https://i.postimg.cc/bwNgMGzm/pata-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
.img2 {
  background-image: url(https://i.postimg.cc/mrKSt87n/imgPerro.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
.img3 {
  background-image: url(https://i.postimg.cc/GhRqF76w/cambia-Una-Vida.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  animation-name: onelife-animation;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-timing-function: ease-in;
  animation-iteration-count: 3s;
}
.img4 {
  background-image: url(https://i.postimg.cc/15KMJ0Zg/Adopta.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  animation-name: adopt-animation;
  animation-duration: 1.5s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 3s;
}
.img5 {
  background-image: url(https://i.postimg.cc/L4LxZKC3/litePaw.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
.img6 {
  background-image: url(https://i.postimg.cc/rpqcHdbj/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
.img7 {
  background-image: url(https://i.postimg.cc/s2McjtGS/pata-bot.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
.img8 {
  width: 100px;
  height: 200px;
  border-radius: 30px;
  position: absolute;
  left: 100px;
}
.buttonContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 10rem;
}
/* CSS */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 23%;
  top: -8em;
  background: #e8eb9d;
  font-weight: 700;
  font-size: 23px;
  color: #32281f;
  border: 1em;
  border-radius: 15px;
  height: 45px;
  width: 150px;
  cursor: pointer;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  font-size: 23px;
}

.button:hover {
  transform: scale(1.05);
  background: #32281f;
  font-size: 23px;
  color: #e8eb9d;
}

.land{
width: 100em;
height: 50em;
}

@media screen and (max-width: 1300px) {
  .img2 {
    background-image: none;
  }
  .button {
    position: relative;
    left: 35%;
  }
}
@media screen and (max-width: 1200px) {
  .button {
    position: relative;
    left: 40%;
  }
}
@media screen and (max-width: 750px) {
  .img2 {
    background-image: none;
  }
}
@media screen and (max-width: 500px) {
  .img7 {
    background-size: contain;
    width: 500px;
    height: 300px;
  }
  .img1 {
    background-size: contain;
    width: 500px;
    height: 300px;
  }
  .img3 {
    background-size: contain;
    width: 500px;
    height: 300px;
  }
  .img4 {
    background-size: contain;
    width: 500px;
    height: 300px;
  }
  .img5 {
    background-size: contain;
    width: 500px;
    height: 300px;
  }
  .img6 {
    background-size: contain;
    width: 500px;
    height: 300px;
  }
}

@keyframes adopt-animation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes onelife-animation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
