.containProduct {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 50px 100px;
  padding-bottom: 60px;
  background-color: #fff;
}
.recomendados{
  margin: 20px;
}
.containBtnBack {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0;
  margin-right: 50px;
}
.btnBack {
  position: relative;
  width: 150px;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  background-color: #e8eb9d;
  border-radius: 30px;
}
.headerDetail {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 20px 0;
}

.containInfo {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

.imgProduct {
  height: 300px;
  width: auto;
  padding: 10px 30px;
  border: 1px solid #cce;
  border-radius: 10px;
}
.nameProduct {
  color: #333;
  font-size: 42px;
}
.containPriceAndCategorie {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  height: 100%;
}
.btnBuy {
  width: 100px;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  border-radius: 30px;
  background-color: #21a43b;
}
.containFormCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
}
.spanStock {
  font-size: 17px;
  margin: 10px 0;
  color: #333;
}
.formCantCart {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.spanButtonAdd {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.icon {
  font-size: 20px;
  color: rgb(9, 99, 9);
}
.amount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 2px 8px;
  border: 1px solid rgb(9, 99, 9);
  border-radius: 10px;
  margin: 0 15px;
}

.modifiedCant {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
}

.priceProduct {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #666;
}
.categoriesProduct {
  color: #888;
}
.listCategories li {
  margin-left: 10px;
}

.containDescription {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  width: 70%;
}
.descriptionTitle {
  font-size: 20px;
  color: #555;
}
.contentDescription {
  color: #666;
}
