.containerForm {
    width: 60vw;
    height: 60vh;
    background-color: white;
    position: relative;
    transform: translate(-50% -50%) scale(0.5);
    transition: ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}

.form {
    display: flex;
    flex-wrap: wrap;
}
