.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #e8eb9d;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
}
.under{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image {
border-radius: 2em;
}

.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1rem;
  margin-top: 1rem;
  width: 40rem;
}

.title {
  margin-top: 3rem;
  width: 40rem;
  text-align: center;
 
}

.name{
  margin-left:-35px;
    color: #584A3C;
    width: 700px;
    font-size: 3em;
    position: relative;
    margin-top: 2em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 20px rgb(93, 79, 54);
}

.data{
  margin-left: 15px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  
}
.size_data{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.size{ 
display: flex;
flex-direction: row;
justify-content: center;
}

.h{
font-size: 22px;
margin-right: 8px;
text-shadow: 2px 2px 20px rgb(93, 79, 54);
}

.location{
display: flex;
flex-direction: column;
justify-content: center;
}

.location_h{
  font-size: 22px;
  margin-bottom: -10px;
  text-shadow: 2px 2px 20px rgb(93, 79, 54);
}

.descrip_h{
  font-size: 22px;
  text-shadow: 2px 2px 20px rgb(93, 79, 54);
}
.descrip_data{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.back {
  background: #38593a;
  font-size: 21px;
  color: white;
  border: 1em;
  border-radius: 15px;
  height: 45px;
  width: 160px;
  font-weight: 700;
  margin: auto;
  margin-bottom: 2em;
}

.back:hover {
  color: beige;
  border: none;
  font-weight: 700;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgb(185, 163, 103);
  background: #584a3c;
}

.logo {
  border-radius: 1em;
  display: flex;
  position: fixed;
  margin-top: -50px;
  margin-left: 2em;
  z-index: 4501;
  width: auto;
  height: 14em;
}

