.containerAll {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #feffe2;
}
.containDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.namePet {
  color: #584a3c;
  padding: 30px;
  margin: 10px 0;
  text-align: center;
  font-size: 3em;
  text-shadow: 2px 2px 20px rgb(93, 79, 54);
}

.divSlideManual {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 40px;
}

.image {
  border-radius: 10px;
  object-fit: cover;
  height: 350px;
  width: 450px;
}

.iconNext {
  position: absolute;
  right: -25px;
  padding: 4px;
  font-size: 40px;
  background-color: #effbf074;
  border-radius: 50%;
}
.iconPrev {
  position: absolute;
  left: -25px;
  padding: 4px;
  font-size: 40px;
  background-color: #effbf074;
  border-radius: 50%;
}
.iconPrev:hover {
  cursor: pointer;
  background-color: #e8eb9d;
  font-size: 39px;
}
.iconNext:hover {
  cursor: pointer;
  background-color: #e8eb9d;
  font-size: 39px;
}
.containCardDetail {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 80px 5px;
  width: 100%;
}
.containFront {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.contentDescripCharact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.titleDescription {
  text-align: center;
  font-size: 30px;
  margin: 20px 40px;
}

.divDescription {
  text-align: center;
}
.description {
  text-align: center;
  padding: 0 150px;
}
.divCharacteristics {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.divCharacteristics div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  background-color: #584a3caa;
  margin: 20px 50px;
  color: #fff;
  border-radius: 16px;
}
.divLocation {
  border-radius: 20px;
  width: 500px;
  height: 300px;
}

.divHealthExtra {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 320px;
  background-color: #584a3caa;
  margin: 30px 50px;
  color: #fff;
  border-radius: 16px;
}
.divDate {
  width: 100%;
  margin: 20px;
  padding: 20px;
  font-size: 14px;
}
.spanChar {
  display: block;
  font-size: 80px;
  max-height: 80px;
  margin: 6px;
  font-size: 14px;
  padding: 5px 15px;
  overflow-y: scroll;
}
.divCharacteristics b {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38593a88;
  padding: 5px 15px;
  height: 45px;
  font-size: 16px;
  border-radius: 16px;
}

.button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 0 50px;
}
.back {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 30px;
  background: #38593a;
  font-size: 21px;
  color: white;
  border-radius: 15px;
  height: 45px;
  font-weight: 700;
}

.back:hover {
  color: beige;
  border: none;
  font-weight: 700;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgb(185, 163, 103);
  background: #584a3c;
}

.logo {
  border-radius: 1em;
  display: flex;
  position: fixed;
  margin-top: -50px;
  margin-left: 2em;
  z-index: 4501;
  width: auto;
  height: 14em;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.adoptar {
  padding: 1.3em 3em;
  /* font-size: 12px; */
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 800;
  color: #584a3c;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.adoptar:hover {
  background-color: #38593a;
  box-shadow: 0px 15px 20px #1f3120;
  color: #fff;
  transform: translateY(-7px);
}

.adoptar:active {
  transform: translateY(-1px);
}

.buttonReport {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 40px;
  bottom: 20px;
}
.buttonReport button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 30px;
  background: #38593a;
  font-size: 21px;
  color: white;
  border-radius: 15px;
  height: 45px;
  font-weight: 700;
  margin: 30px;
}

.buttonReport button:hover {
  color: beige;
  border: none;
  font-weight: 700;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgb(185, 163, 103);
  background: #584a3c;
}
.contentSlidePets {
  width: 100%;
}
