.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: white;
}

.loader {
    width: 100px;
    height: 100px;
    border: 10px solid #38593a;
    border-bottom: 10px solid transparent;
    border-radius: 50%;
    animation: loader 1s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}