/* .mainContainer {
  padding-left: 13%;
  padding-top: 6%;
  min-height: 80vh;
  width: 70vw;
  display: flex;
  border-radius: 40px 9px 25px;
  background-color: rgba(255, 255, 255, 0.658);
}

.container_caja2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 20rem;
}
.container_caja3 {
  margin-right: 10rem;
}
.image {
  width: 14rem;
  height: 17rem;
  border-radius: 50% 50% 50% 50%;
  overflow: hidden;
  margin: 3%;
  box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 50%);
  cursor: pointer;
  transition: 400ms;
}
.hiddenInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.mi_archivo {
  font-size: 12px;
  font-weight: 600;
  color: #034103;
  background-color: rgba(255, 255, 255, 0.541);
  display: flex;
  transition: all 0.5s;
  cursor: pointer;
  padding: 5px 40px;
  text-transform: uppercase;
  width: 10rem;
  height: 3rem;
  text-align: center;
  border-radius: 5px;
  margin: auto;
}

.mi_archivo:hover {
  background-color: #163811aa;
  color: #fff;
  border: 1px solid #411a038e;
  border-radius: 5px;
}
.imageEdit {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.iconImage {
  margin-top: 1rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.541);
  width: 10rem;
  align-self: center;
  transition: all 0.5s;
}

.iconImage:hover {
  background-color: #163811aa;
  color: antiquewhite;
  border: 1px solid #411a038e;
}

.infoStyles {
  width: 40vw;
  margin-bottom: 2rem;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 6rem;
}
.buttons button {
  height: 2rem;
  border-radius: 20px;
  width: 15rem;
  background-color: rgba(255, 255, 255, 0.541);
  color: #034103;
}

.buttons button:hover {
  background-color: #163811aa;
  color: antiquewhite;
}
.mainSpan {
  display: flex;
}
.span {
  max-width: 10rem;
  text-align: center;
  color: antiquewhite;
}
.formImage {
  display: flex;
  flex-direction: column;
}
.icon {
  cursor: pointer;
  color: antiquewhite;
  display: flex;
}

.h1 {
  margin-top: 2rem;
  font-size: 50px;
  color: antiquewhite;
}

.email {
  color: rgb(196, 191, 184);
}

.bioContainer {
  margin-top: 2rem;
}

.bio {
  font-weight: 600;
  font-size: 20px;
  color: antiquewhite;
}
.conta_bio {
  background-color: rgba(255, 255, 255, 0.432);
  border-radius: 20px;
  padding: 4px;
  max-width: 21rem;
  min-width: 18rem;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.input {
  border-radius: 10px;
}
.form_input {
  display: flex;
  align-items: flex-start;
}

.infoStylesP {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.inputInside {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}

.divContainer {
  display: flex;
  justify-content: space-between;
}
.nombreContainer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.432);
  width: 25rem;
  height: 2rem;

  border-radius: 15px;
}
.error {
  color: rgb(141, 2, 2);
  text-align: center;
  font-size: 14px;
}

.p {
  background-color: #163811aa;
  min-width: 9rem;
  height: 2rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  color: antiquewhite;
  margin-right: 5px;
} */

/* Side Bar !!!!!!! */

.navBarcontainer {
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 0px 6px 0px rgba(19, 31, 17, 0.486);
}

.wrapper {
  padding: 10px;
  z-index: 1;
}

.logo {
  padding: 10px;
  padding-left: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}
.logoPata {
  background-color: rgb(63, 48, 29);
  border-radius: 50%;
}

.wrapper > ul {
  margin-top: 20px;
  text-align: left;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  gap: 60px;
}

.wrapper > ul > .li > li {
  list-style: none;
  font-size: 20px;
  text-decoration: none;
  opacity: 0.6;
  width: 4rem;
  border-bottom: 1px solid black;
  transition: all 0.5s;
}

.li {
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
}

.wrapper > ul > .li > li:hover, .wrapper > ul > .liLogout:hover  {
  color: rgb(83, 67, 56);
  font-size: 22px;
  width: 11rem;
  background: linear-gradient(rgb(255, 255, 255) 80%, rgba(54, 45, 21, 0.658));
}

.wrapper > ul > .liLogout {
  list-style: none;
  font-size: 20px;
  text-decoration: none;
  opacity: 0.6;
  width: 10rem;
  gap: 5px;
  position: fixed;
  bottom: 40px;
   transition: all 0.5s;
   display: flex;
   align-items: center;
  border-bottom: 1px solid black;
}

.wrapper > ul > .icon {
  border-bottom: none;
  font-size: 25px;
}
.wrapper > ul > .icon:hover {
  border-bottom: none;
  background: none;
  font-size: 27px;
}
