.mainContainer {
  padding-left: 13%;
  padding-top: 6%;
  min-height: 100vh;
  display: flex;

}

.container_caja2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 20rem;
}
.container_caja3 {
  margin-right: 10rem;
}
.image {
  width: 14rem;
  height: 17rem;
  border-radius: 50% 50% 50% 50%;
  overflow: hidden;
  margin: 3%;
  box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 50%);
  cursor: pointer;
  transition: 400ms;
}
.hiddenInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.mi_archivo {
  font-size: 12px;
  font-weight: 600;
  color: #034103;
  background-color: rgba(255, 255, 255, 0.541);
  display: flex;
  transition: all 0.5s;
  cursor: pointer;
  padding: 5px 40px;
  text-transform: uppercase;
  width: 10rem;
  height: 3rem;
  text-align: center;
  border-radius: 5px;
  margin: auto;
}

.mi_archivo:hover {
  background-color: #163811aa;
  color: #fff;
  border: 1px solid #411a038e;
  border-radius: 5px;
}
.imageEdit {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.iconImage {
  margin-top: 1rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.541);
  width: 10rem;
  align-self: center;
  transition: all 0.5s;
}

.iconImage:hover {
  background-color: #163811aa;
  color: antiquewhite;
  border: 1px solid #411a038e;
}

.infoStyles {
  width: 40vw;
  margin-bottom: 2rem;
}
.buttons {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  margin-top: 6rem;
}
.buttons button {
  height: 2rem;
  border-radius: 20px;
  width: 15rem;
  background-color: rgba(255, 255, 255, 0.541);
  color: #034103;
}

.buttons button:hover {
  background-color: #163811aa;
  color: antiquewhite;
}
.mainSpan {
  display: flex;
}
.span {
  max-width: 10rem;
  text-align: center;
  color: antiquewhite;
}
.formImage {
  display: flex;
  flex-direction: column;
}
.icon {
  cursor: pointer;
  color: antiquewhite;
  display: flex;
}

.h1 {
  margin-top: 2rem;
  font-size: 50px;
  color: antiquewhite;
}

.email {
  color: rgb(196, 191, 184);
}

.bioContainer {
  margin-top: 2rem;
}

.bio {
  font-weight: 600;
  font-size: 20px;
  color: antiquewhite;
}
.conta_bio {
  background-color: rgba(255, 255, 255, 0.432);
  border-radius: 20px;
  padding: 4px;
  max-width: 21rem;
  min-width: 18rem;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.input {
  border-radius: 10px;
}
.form_input {
  display: flex;
  align-items: flex-start;
}

.infoStylesP {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.inputInside {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}

.divContainer {
  display: flex;
  justify-content: space-between;
}
.nombreContainer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.432);
  width: 25rem;
  height: 2rem;

  border-radius: 15px;
}
.error {
  color: rgb(141, 2, 2);
  text-align: center;
  font-size: 14px;
}

.p {
  background-color: #163811aa;
  min-width: 9rem;
  height: 2rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  color: antiquewhite;
  margin-right: 5px;
}

/* 



.infoContainer {
  padding: 2rem 3rem;
  text-align: center;
  color: #fff;
  box-shadow: 0px 0px 25px #222;
  background-color: rgba(146, 86, 8, 0.363);
  width: 80%;
  margin: auto;
  border-radius: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 21%;
  left: 74%;
}

.button {
  background-color: transparent;
  color: antiquewhite;
  margin-bottom: 3rem;
  font-size: 110%;
  border: 2px solid;
  padding: 10px;
}

.button:hover {
  position: relative;
  background-color: #38593a;
  color: antiquewhite;
  border: none;
  font-size: large;
  height: 3.2rem;
  width: 8rem;
}

.h1 {
  margin-bottom: 3rem;
  font-size: 251%;
  color: mintcream;
  border: 2px solid;
  border-top-color: #815843;
  border-left-color: #815843;
  border-right-color: #815843;
  padding: 10px;
}

.link {
  color: #4d614e;
  font-size: large;
  text-align: center;
}

.link:hover {
  color: #034103;
}

.fourthContainer {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.imageEdit {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.formImage {
  display: flex;
}

.divImage {
  display: flex;
  justify-content: flex-start;
}

.form input {
  margin-right: 2rem;
  border-radius: 8px;
  color: black;
}

.form button,
.formImage button {
  border: 3px solid #38593a;
  background-color: antiquewhite;
  color: #034103;
  box-shadow: 0px 0px 25px #222;
  border-radius: 10px;
  max-width: 10rem;
  align-self: center;
}

.formImage button {
  margin-top: 5px;
}

.form button :hover,
.formImage button:hover {
  background-color: #0e3810;
  color: antiquewhite;
  border-radius: 10px;
  border: none;
}

.formImage button:hover {
  height: 1.8rem;
}

.icon {
  cursor: pointer;
}

.image {
  width: 30%;
  height: 67%;
  border-radius: 50% 50% 50% 50%;
  overflow: hidden;
  margin: 3%;
  box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 50%);
  cursor: pointer;
  transition: 400ms;
}
.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.image:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
}
.input {
  display: flex;
  flex-direction: column;
}

.hiddenInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.mi_archivo {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  background-color: #0e3810;
  display: flex;
  transition: all 0.5s;
  cursor: pointer;
  padding: 8px 40px;
  text-transform: uppercase;
  width: 10rem;
  height: 3.45rem;
  text-align: center;
  border-radius: 5px;
  align-self: center;
}

.mi_archivo:hover {
  background-color: antiquewhite;
  color: #034103;
  border: 1px solid #034103;
  border-radius: 5px;
}

.emptyDiv {
  visibility: hidden;
  height: 4.9rem;
}

.infoStylesP {
  margin: 10px;
  height: 3rem;
  padding-left: 12px;
  display: flex;
  justify-content: space-between;
  width: 15rem;
  display: flex;
  text-align: center;
}

.insideInfo {
  width: 20rem;
  border-radius: 50px;
  color: white;
}

.pContainer {
  display: flex;
  background-color: #584a3caa;
  border-radius: 50px;
  min-height: 3rem;
  align-items: center;
}

.thirdContainer p {
  color: black;
  background-color: transparent;

  text-align: justify;
}

.thirdContainer .p {
  border-bottom: 3px solid #0e3810;
  border-radius: 0;
  display: flex;
  align-items: flex-end;
  width: 20%;
}

.bioContainer {
  color: black;
}

.p {
  display: flex;
  align-items: center;
  background-color: #38593a88;
  border-radius: 50px;
  width: 10rem;
  height: 3rem;
  padding-left: 4px;
  color: white;
}

.div {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.infoStyles {
  min-width: 66%;
  height: 296px;
}

.container_caja1 {
  width: 100%;
}

.container_caja2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container_caja3 {
  position: absolute;
  left: 18%;
  top: 15%;
}
.container_p {
  position: absolute;
  top: 128%;
  right: -30%;
}
.bio {
  padding-top: 21%;
  margin-bottom: 3rem;
  font-size: 133%;
  color: mintcream;
}

.conta_bio {
  position: absolute;
  top: 80%;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  color: mintcream;
  border: 2px solid;
  border-top-color: #815843;
  border-left-color: #815843;
  border-right-color: #815843;
  padding-top: 30px;
  padding-bottom: 5%;
}
.form_input {
  margin-right: 2rem;
  border-radius: 8px;
  color: black;
}

.bio_posi {
  position: absolute;
  top: 73%;
  left: 25%;
}
.button_che {
  border-width: 3px;
} */
