.mainContainer {
    margin-top: 5rem;
    margin-left: 3rem;
}

.secondContainer {
    display: flex;
}

.thirdContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25rem;
    width: 15rem;
    border-radius: 10px;
    margin-right: 10rem;
    background-color: #38593a;
}

.imageContainer {
    background-color: antiquewhite;
    border-radius: 50%;
    height: 10.3rem;
    width: 10.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.infoContainer {
    justify-self: center;
    width: 60%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #034103;
    border-radius: 18px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: antiquewhite;
    color: #38593a;
    width: 7rem;
    height: 3rem;
    border: 1px solid #38593a;
    border-radius: 8px;
    align-self: center;
}

.button:hover {
    position: relative;
    background-color: #38593a;
    color: antiquewhite;
    border: none;
    font-size: large;
    height: 3.2rem;
    width: 8rem;
}

.h1 {
    margin-bottom: 3rem;
    font-size: 3.5rem;
}

.link {
    margin-top: 2rem;
    margin-left: 4vw;
    color: #4d614e;
    border: 1px ;
    font-size: large;
}

.link:hover{
    color: #034103;
}
