.mainContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 100px;
}
.formContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 600px;
  height: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: #b4edc2;
}
.pHeader {
  padding: 20px 40px;
  text-align: center;
}
.textAreaMsg {
  font-size: 14px;
  padding: 10px;
  height: 150px;
  width: 80%;
  border: 1px solid #888;
  border-radius: 5px;
}
.formContact input {
  outline: none;
  height: 35px;
  width: 250px;
  margin: 5px;
  padding: 6px;
  font-size: 14px;
  border-radius: 5px;
}
.formContact label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* CSS BUTTON SUBMIT */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.button:hover {
  box-shadow: 0 2px 3px 1px #fcfcfc, 0 2px 3px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -3px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}

.button:active {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.button:focus {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

/* spans ERRORS */

.spanError {
  display: none;
}
