.mainContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding: 100px;
  background-color: #5e402d;
}
.hrTop {
  position: absolute;
  top: 50px;
  border: 2px solid #777;
  width: 90%;
}
.hrBottom {
  position: absolute;
  bottom: 50px;
  border: 2px solid #777;
  width: 90%;
}
.contentForm {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 50px;
  background-color: #fff;
  border-radius: 10px;
}

.contentLogoTip {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  height: 100%;
  margin: 0 30px;
}
.hrefInsta {
  display: flex;
  margin-top: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: #f48044;
}
.hrefInsta:hover {
  background-color: #e1306c;
}
.iconInsta {
  color: #fff;
  font-size: 28px;
}

.logoPaw {
  background-image: url("../../img/pawsLogo.png");
  background-repeat: no-repeat;
  background-size: cover;
  rotate: -25deg;
  background-position: center;
  width: 300px;
  height: 300px;
}
.formContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 100%;
  padding: 60px 0;
  margin: 0 30px;
}
.pHeader {
  width: 400px;
  text-align: center;
}
.textAreaMsg {
  margin-top: 10px;
  outline: none;
  font-size: 14px;
  padding: 10px;
  height: 150px;
  width: 100%;
  border: 1px solid #888;
  border-radius: 5px;
}
.formContact input {
  outline: none;
  height: 40px;
  width: 100%;
  margin: 5px;
  margin-top: 10px;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.formContact label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* CSS BUTTON SUBMIT */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  margin: 30px 0;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.button:hover {
  box-shadow: 0 2px 3px 1px #fcfcfc, 0 2px 3px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -3px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}

.button:active {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.button:focus {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

/* spans ERRORS */

.spanError {
  display: none;
}
