.contentReview {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 400px;
}

.textArea {
  height: 150px;
  border: 1px solid #ddd;
  padding: 15px;
  font-size: 14px;
  outline: none;
}
