.containForm1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.selectGenderSize {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}
.stretchGenSize {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  width: 40%;
  font-size: 18px;
  border-radius: 20px;
  background-color: #c2bea150;
}
.stretchDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  width: 60%;
  font-size: 18px;
  border-radius: 20px;
  background-color: #c2bea150;
}
.stretch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  min-width: 50%;
  max-width: 80%;
  font-size: 18px;
  border-radius: 20px;
  background-color: #c2bea150;
}
.stretchDescription textarea {
  width: 90%;
}

.input {
  border: none;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 6px 6px 12px #eeeeee, -6px -6px 12px #c5c5c5;
  font-size: medium;
  font-weight: bold;
  min-width: 50%;
  max-width: 80%;
}
.input:focus {
  outline-color: #aaffaa;
  place-content: "Enter your message!";
}

.radio {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px 0;
  width: 60%;
}
.radio label {
  margin: 10px;
  width: 100%;
}
.errors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  color: red;
  font-size: smaller;
  font-style: inherit;
}
.radio2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.buttonSiguiente {
  justify-self: flex-end;
  position: absolute;
  top: -20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: small;
  align-items: center;
  margin-top: 1rem;
}

.title,
.title2 {
  font-size: larger;
  display: flex;
  justify-content: center;
}
.title2 {
  font-size: large;
}

.hiddenInput {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.mi_archivo {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  transition: all 0.5s;
  cursor: pointer;
  padding: 8px 10px;
  text-transform: uppercase;
  width: 12.8rem;
  height: 60px;
  text-align: center;
  margin: 10px;
  align-items: center;
  background-color: rgb(223, 255, 215);
  color: #053005;
  border: 1px solid #78774a;
  border-radius: 5px;
}

.mi_archivo:hover {
  color: rgb(255, 250, 250);
  background-color: #584a3c91;
  border-radius: 5px;
  border: #584a3cf3;
}

.buttonAtras {
  justify-self: flex-end;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  display: flex;
  font-size: small;
  align-items: center;
  margin-top: 1rem;
}

.submit {
  text-align: center;
  color: #fff;
  font-size: 20px;
  background-color: #584a3cf3;
  transition: all 0.5s;
  cursor: pointer;
  width: 10rem;
  height: 2rem;
  border-radius: 5px;
  align-self: center;
}

.submit:hover {
  background-color: antiquewhite;
  color: #034103;
  border: 2px solid #03410371;
  border-radius: 5px;
  font-weight: 600;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.locat_select {
  padding: 8px 7px;
  font-size: 17px;
  background: transparent;
  width: 200px;
}

.upImage {
  font-size: 60px;
  margin-right: 20px;
}
