.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100vw;
}

.divImage {
  border-radius: 1rem;
  height: 20rem;
  width: 100%;
  overflow: hidden;
}

.image {
  transform-origin: center;
  object-fit: cover;
  transition: 1s;
  height: 100%;
  width: 100%;
}

.image:hover {
  transform: scale(2);
}

.form {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 3rem;
  box-shadow: 10px 10px 50px rgb(136, 92, 57);
  gap: 0.1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #f2f4c0;
  padding: 3rem;
  border-left: 1px solid #e8eb9d;
  border-top: 1px solid #e8eb9d;
  backdrop-filter: blur(20px);
  justify-content: space-around;
  height: 35rem;
  width: 30rem;
  align-items: center;
  text-align: center;
  font-size: large;
}

.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.imagesContainer {
  margin-top: 1rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.imgs {
  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 500ms;
  /* object-fit: cover; */
}

.imgs:hover {
  /* box-shadow: 5px 5px 0px 0px; */
  /* opacity: 0.8; */
  transform: scale(1.1);
}

.petName {
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

.options {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 13rem;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 30px;
  background: #38593a;
  font-size: 21px;
  color: white;
  border-radius: 15px;
  height: 45px;
  font-weight: 700;
}

.next {
  display: flex;
  font-size: large;
  align-items: center;
}

.prev {
  display: flex;
  align-items: center;
  font-size: large;
}

.adopt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 30px;
  background: #38593a;
  font-size: 21px;
  color: white;
  border-radius: 15px;
  height: 45px;
  font-weight: 700;
}
