/* hasta 614px */
.containCart {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  height: 100%;
}
@media (max-width: 910px) {
  .containCart {
    margin-top: 100px;
  }
}

.search {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 5em;
}

.searchB {
  border: 1px solid rgb(129, 126, 94);
  border-radius: 0px 15px 15px 0px;
  padding: 8px 22px;
  border-left: none;
  background-color: transparent;
}

.searchB:hover {
  background-color: #6e613f;
  border: 1px solid transparent;
  padding: 8px 22px;
  color: white;
}

.input {
  width: 20%;
  background-color: #e8eb9d;
  padding: 12px 24px;
  transition: transform 250ms ease-in-out;
  line-height: 10px;
  border-radius: 15px;
  /* border: 1px solid #333; */
  border: none;
  border-right: none;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  color: #111111;
  display: block;
  flex-direction: row;
}

.input::placeholder {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #111111;
  font-size: 12px;
}

.input:hover,
.input:focus {
  padding: 12px 24px;
  outline: 0;
  border: none;
  border-radius: 15px;
  background-position: 100% center;
  background-color: #8c7d5d;
}

.all {
  background: #e8eb9d;
  font-size: 21px;
  color: #32281f;
  border: 1em;
  border-radius: 15px;
  height: 45px;
  width: 160px;
  font-weight: 700;
  margin-left: 50px;
  margin-bottom: 2em;
  margin-top: 5em;
}

.all:hover {
  color: beige;
  border: none;
  font-weight: 700;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgb(185, 163, 103);
  background: #584a3c;
}
.miCarrito {
  display: flex;
  margin-top: 1rem;
}

.card {
  background: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 30px;
  flex-direction: column;
  width: 300px;
  height: 400px;
  /* margin: 20%; */
  margin-top: 10%;
}
/* @media(max-width:1000px){
  .card{
    width: 150px;
   margin-right: 40%;
  }
} */

.name {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #32281f;
  font-size: 20px;
  text-shadow: 2px 2px 4px #937a60;
}
/* @media(max-width:614px){
  .name{
    font-size: 10px;
    color: red;
  }
} */

.size {
  font-size: 20px;
}

.big_container {
  margin: auto;
  padding: 0;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI";
  width: 1000px;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .big_container {
    width: auto;
  }
}

.container2 {
  display: flex;
}

.img {
  border-radius: 30px;
  width: 70%;
  height: 200px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 10px;
  background: #38593a;
  font-size: 21px;
  color: #fff;
  border-radius: 15px;
  font-weight: 500;
}

.btn:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px #333;
  background: #483c30;
}

.title {
  font-size: 20px;
}

.form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.select {
  background-color: #4c8053;
  padding: 8px;
  width: 10em;
  margin-bottom: 1em;
  border-radius: 9px;
  margin-left: 3em;
  font-weight: 500;
  font-size: 17px;
}

.option {
  background-color: #e8eb9d;
  font-family: Verdana;
}

.huge_container {
  display: flex;
}

.logo {
  border-radius: 1em;
  display: flex;
  position: fixed;
  margin-top: -130px;
  margin-left: 2em;
  z-index: 4501;
  width: auto;
  height: 14em;
}

.carritoVacio {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.vaciarCarrito {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 10px 20px;
  background-color: #f58282;
  font-size: 20px;
  border-radius: 10em;
  color: #111111;
  font-weight: 700;
}
.vaciarCarrito:hover {
  color: #fff;
  background-color: #fd2424;
}
.iconDeleteCart {
  margin-left: 10px;
}
.resumen {
  width: 27%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2%;
}
.total {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 2%;
  font-weight: 700;
}

.resumenContainer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0ch;
  flex-direction: column;
  justify-content: space-between;
}

.miCarrito {
  background-color: red;
}
