.h1{
    margin-top: 4em;
    margin-left: 10em;
    font-size: 2em;
    font-weight: 900;
    color: rgba(54, 54, 54, 0.893);
}


.form1{
    
    display: flex;
    flex-direction: row;
    margin-left: 445px;
    justify-content: space-evenly;
    width: 35em;
    margin-top:1em
   
}

.form2{
    
    display: flex;
    flex-direction: row;
    margin-left: 470px;
    justify-content: space-evenly;
    width: 32em;
    margin-top:1em;
    
    
}

.img{
    margin-top: 20px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.mi_archivo{
    font-size: 14px;
    font-weight: 400;
    display: flex;
    transition: all 0.5s;
    cursor: pointer;
    padding: 8px 10px;
    text-transform: uppercase;
    width: 44%;
    height: 57px;
    text-align: center;
    
    align-items: center;
    background-color: transparent;
    color: #3e3e3e;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
}
.mi_archivo:hover {
    color: rgb(255, 250, 250);
    background-color: #46464691;
    border-radius: 5px;
    border: #584a3cf3;
  }

  .upImage {
    font-size: 30px;
    margin-right: 20px;
    margin-left: 13px;
  }






  .products{
    margin-top: 4.5em;
    margin-left: 10em;
    margin-bottom: 1.5em;
    font-size: 2em;
    font-weight: 900;
    color: rgba(54, 54, 54, 0.893);
    width: fit-content;

  }



  .red{
    background: rgba(229, 8, 8, 0.43);
    padding: 0px 12px;
    border-radius: 50px;
    border: 1px solid rgba(255, 0, 0, 0.866);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.green{
    background: rgba(0, 151, 0, 0.437);
    padding: 0px 12px;
    border-radius: 50px;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.icon{
  
    margin-left: -7.5px;
    margin-right: 4px;
}
.iconOff{
    
    margin-left: -7.5px;
    margin-right: 4px;
}

.active{
   color: rgb(38, 95, 38);
   font-weight: 600;
    margin-top: 3.5px;
    margin-right: -5px;
    font-size: 11.5px;
}

.blocked{
    color: rgba(214, 18, 18, 0.993);
    font-weight: 600;
    margin-top: 3.8px;
    margin-right: -5px;
    font-size: 11.5px;
}

.close{
    background: rgba(53, 53, 53, 0.437);
    width: 2em;
    margin-top: 10em;
    margin-bottom: -10.5em;
    margin-left: 60em;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}