
.btn{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding-left: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.625rem;
    border-radius: 0.5rem;
    /* color: rgb(55 65 81); */
}

.title{
    left: 60em
}

.users{

    display: flex;
    justify-content:flex-end;
    position: relative;
    top: 15px;
    width: fit-content;
    left: 14em
}


@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
padding: 40px;
  position:fixed;
  left: 1px;
  top: 60px;
  height: 30em;
  display: flex;  
}

@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}


.calendar{
  margin: 0.5rem;
  margin-top: 6rem;
  padding: 0.5rem;
  background-color: rgb(164, 22, 22);
  border-radius: 1.5rem;
}

@media (min-width: 768px) { .calendar{
  margin: 2.5rem;
  padding: 2.5rem;
} }