.headContainer {
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  background-color: #38593a;
  padding-left: 200px;
  box-shadow: 3px 0px 6px 0px rgba(19, 31, 17, 0.486);
}

.haedwrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.title {
  margin-left: 40px;
}
.title > h2 {
  color: aliceblue;
  font-weight: 700;
  font-size: 25px;
}
.title > p {
    color: aliceblue;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 550;
  opacity: 0.6;
}

.profile {
  position: absolute;
  right: 20px;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.logo {
  border-radius: 1em;
  display: flex;
  position: fixed;
  top: -50px;
  left: 30px;
  z-index: 4500;
  width: auto;
  height: 14em;
}