.products{

height: 30em;  
width: 55em;
margin-left: 9em;
margin-top: 3em;

}

.h1{
    margin-top: 5em;
    margin-left: 10em;
    font-size: 2em;
    font-weight: 600;
    color: rgb(54, 54, 54);
}