.products{
height: 25em;  
width: 55em;
margin-left: 16em;
margin-top: -2em;

}

.h1{
    font-size: 2em;
    margin-left: 10em;
    margin-top: 5em;
    margin-bottom: 1.06em;
    width: fit-content;
    font-weight: 900;
    color: rgba(54, 54, 54, 0.893);
}

.bar{
    width: 30em;
    height: 30em;
    background: tomato;
}