.home {
  width: 100%;
  position: relative;
}
.picture {
  width: 100%;
}
.link {
  font-size: 12px;
  position: relative;
}
.containSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  width: 100%;
}
.contentCarrousel {
  width: 100%;
}
.contentSlider {
  width: 100%;
}

.link::before {
  content: "";
  position: absolute;
  width: 0%;
  bottom: -16px;
  left: 0;
  height: 6px;
  transition: all 0, 2s;
  background-color: white;
}
.link:hover::before {
  width: 100%;
}

.barGreen {
  height: 50px;
  background-color: #415d43;
  color: #415d43;
  height: 30px;
  font-size: 1px;
}

.divAlimento {
  display: flex;
  height: 70px;
  background-image: url("https://res.cloudinary.com/dibwxnomi/image/upload/v1673186381/imagenes/alim_ixvvc3.png");
  background-repeat: repeat-x;
  background-size: contain;
}
.containKitten {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  z-index: 1900;
  transform: translateY(-14px);
}
.kitten {
  position: relative;
  margin-right: 0px;
  height: 450px;
  z-index: 1901;
  width: 450px;
}
@media (max-width: 910px) {
  .kitten {
    height: 150px;
    width: 150px;
    margin-right: 10px;
  }
}

@media (max-width: 530px) {
  .kitten {
    height: 150px;
    width: 150px;
    margin-right: 10px;
  }
}
@media (max-width: 430px) {
  .kitten {
    height: 150px;
    width: 150px;
    margin-right: 1px;
  }
}
.infoNosotros {
  padding: 20px;
  color: black;
  font-size: 20px;
  font-weight: 450;
}
@media (max-width: 740px) {
  .infoNosotros {
    font-size: 16px;
    padding: 2px;
  }
}

.boxInfoNosotros {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding: 20px;
  width: 60%;
}
@media (max-width: 900px) {
  .boxInfoNosotros {
    margin-top: 130px;
    width: 100%;
  }
}

.infoAdopcion {
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  justify-items: center;
  justify-self: center;
  font-size: 25px;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 950px) {
  .infoAdopcion {
    font-size: 17px;
  }
}

.aboutUs {
  color: #415d43;
  font-size: 45px;
  font-weight: 700;
}
@media (max-width: 910px) {
  .aboutUs {
    font-size: 38px;
  }
}

@media (max-width: 830px) {
  .aboutUs {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .aboutUs {
    font-size: 25px;
  }
}

.carruselAnimals {
  background-color: rgb(184, 209, 115);
  margin-top: 3%;
  height: 25rem;
}

.linkAdoptar {
  padding-top: 2%;
  display: flex;
  color: #32281f;
  text-align: center;
  display: center;
  justify-content: center;
  text-decoration: none;
}

.adopcion {
  font-size: 3ch;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  text-decoration: none;
}
.textoNosotros {
  font-size: 3ch;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}
@media (max-width: 840) {
  .aboutUs {
    font-size: 30px;
  }
}
.titleCarrusel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  width: 100%;
  /* top: 0; */
  /* margin-left: 350px; */
  color: #415d43;
  font-weight: 700;
}
@media (max-width: 910px) {
  .titleCarrusel {
    font-size: 38px;
  }
}

@media (max-width: 830px) {
  .titleCarrusel {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .titleCarrusel {
    font-size: 25px;
  }
}

.containerAdopciones {
  padding: 30px;
  margin-bottom: 100px;
}
.tituloAdopcion {
  /* font-size: 23px; */
  padding: 20px 0;
  color: #415d43;
  font-size: 45px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 910px) {
  .tituloAdopcion {
    font-size: 38px;
  }
}

@media (max-width: 830px) {
  .tituloAdopcion {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .tituloAdopcion {
    font-size: 25px;
  }
}

.titleRoute {
  justify-content: space-between;
  flex-direction: row;
}
.buttonRoute {
  display: flex;
  justify-content: center;
  align-items: right;
  margin: 20px auto;
  width: 200px;
  height: 50px;
  background: #e8eb9d;
  color: #32281f;
  font-size: 23px;
  border-radius: 15px;
  padding: 10px;
  z-index: 600;
  font-weight: 700;
}
@media (max-width: 910px) {
  .buttonRoute {
    font-size: 18px;
    font-weight: 700;
    width: 100px;
    height: 40px;
    display: flex;
    /* align-items: center;
   justify-content: center; */
    /* margin-left: 30%;
   margin-right: 30%; */
  }
}

@media (max-width: 830px) {
  .tbuttonRoute {
    font-size: 13px;
    font-weight: 700;
    width: 90px;
    height: 30px;
  }
}
.btnFav {
  background: #38593a;
  font-size: 21px;
  color: white;
  border: 1em;
  border-radius: 15px;
  height: 45px;
  width: 150px;
  font-weight: 700;
}
.btn {
  background: #38593a;
  font-size: 21px;
  color: white;
  border: 1em;
  border-radius: 15px;
  height: 45px;
  width: 150px;
  z-index: 600;
  font-weight: 700;
}
