.home {
  background-color: red;
  margin-top: 70px;
  width: 100%;
  margin-top: -5em;
  height: 50em;
}
.link {
  font-size: 12px;
  position: relative;
}
.link::before {
  content: "";
  position: absolute;
  width: 0%;
  bottom: -16px;
  left: 0;
  height: 6px;
  transition: all 0, 2s;
  background-color: white;
}
.link:hover::before {
  width: 100%;
}

.barGreen {
  height: 50px;
  background-color: #415d43;
  color: #415d43;
  height: 30px;
  font-size: 1px;
}

.divAlimento {
  display: flex;
  height: 70px;
  background-image: url("https://res.cloudinary.com/dibwxnomi/image/upload/v1673186381/imagenes/alim_ixvvc3.png");
  background-repeat: repeat-x;
  background-size: contain;
}
.containKitten {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  z-index: 1900;
  transform: translateY(-14px);
}
.kitten {
  position: relative;
  margin-right: 20px;
  height: 500px;
  z-index: 1901;
  width: 500px;
}

.infoNosotros {
  padding: 20px;
  color: black;
  font-size: 20px;
  font-weight: 450;
}

.boxInfoNosotros {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  margin: 60px 0;
  width: 60%;
  height: 40%;
}

.infoAdopcion {
  margin-left: 28%;
  margin-right: 28%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  justify-items: center;
  justify-self: center;
  font-size: 20px;
  font-weight: 450;
}
.tituloAdopcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}

.aboutUs {
  color: #415d43;
  font-size: 45px;
  font-weight: 700;
}

.carruselAnimals {
  background-color: rgb(184, 209, 115);
  margin-top: 3%;
  height: 25rem;
}

.linkAdoptar {
  padding-top: 2%;
  display: flex;
  color: #32281f;
  text-align: center;
  display: center;
  justify-content: center;
  text-decoration: none;
}

.adopcion {
  font-size: 3ch;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  text-decoration: none;
}
.textoNosotros {
  font-size: 3ch;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}

.logo {
  border-radius: 1em;
  display: flex;
  position: fixed;
  margin-top: 30px;
  margin-left: 2em;
  z-index: 4500;
  width: auto;
  height: 14em;
}

.footer {
  background-color: #32281f;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  color: antiquewhite;
}
