.cards {
  align-items: center;
  background-color: #eef0f6;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  justify-content: center;
  height: 100vh;
}

.card {
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0.4px 3.6px rgba(0, 0, 0, 0.004),
    0 1px 8.5px rgba(0, 0, 0, 0.01), 0 1.9px 15.7px rgba(0, 0, 0, 0.019),
    0 3.4px 28.2px rgba(0, 0, 0, 0.03), 0 6.3px 54.4px rgba(0, 0, 0, 0.047),
    0 15px 137px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 336px;
}

.items_Compras {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.li {
  position: absolute;
  left: 65%;
}
.product {
  width: 70%;
  margin: 10%;
}
.total {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

.items_info {
  font-size: 70%;
  width: 70%;
}

.btn {
  background: #38593a;
  font-size: 21px;
  color: white;
  border: 1em;
  border-radius: 15px;
  height: 45px;
  z-index: 600;
  font-weight: 700;
  width: 100%;
  margin-top: 10%;
}
.title {
  align-items: center;
  display: flex;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 4px;
}
